# Extra Exercises - Basics

### Goal: Try to figure out what the cells below will output *before* running them! When you feel like you know the answer, go ahead and run the cells!

#### 1. What prints?

In [ ]:
print("the result of" + "2" + "9" + "is", 11)

#### 2. What prints?

In [ ]:
print(3 + "*" + 7 + "is equal to", 18 + 3)

#### 3. Choose the correct ways to print the line: 7 + 3

(a) print(7 "+" 3)\
(b) print(7 + "+" + 3)\
(c) print(7, "+", 3)\
(d) print("7" + " + " + "3")

In [ ]:
# Test your answer here

#### 4. What prints?

In [ ]:
print(int(7.8))
print(float(12))

#### 5. Does this print 19?

In [ ]:
print(int('7') + str(12))

#### 6. What is the value of *var*?

In [ ]:
var = 21
var2 = var + 6
var = var2 + 1

#### 7. What prints?

In [ ]:
x = 7
y = 4
x = y
y = x
print(x, y)

#### 8. What outputs?

In [ ]:
0.6 // 0.2
0.6 == 0.2 * ( 0.6 // 0.2 ) + 0.6 % 0.2

#### 9.  Which of the following variable assignments is/are invalid?

a. year = 2019\
b. course = "COMP 202"\
c. class_is_fun = True\
d. class = "COMP 202"

In [ ]:
# Test your answer here

#### 10. Write a Python program to solve (x + y) * (x + y) and display the results.

In [ ]:
x = ...
y = ...

#
# Your code goes here
#

#### 11. Write a program that swaps the value of x and y

(i.e. if x = 5 and y = 10, then print(x) should return 10 and print(y) should return 5)

In [ ]:
x = ...
y = ...

#
# Your code goes here
#

#### 12. Which of the following returns the maximum between 5 and 10?

(a) (5, 10).max()\
(b) \[5, 10\].max()\
(c) max([5,10])\
(d) max(5, 10)

In [ ]:
# Test your answer here

#### 13. Which of the following method(s) corresponds to the correct way(s) to cast an integer x to a string?

(a) x = "x"\
(b) x = str(x)\
(c) x = x.str()\
(d) x = string(x)

In [ ]:
# Test your answer here
x = ...

#### 14. Which of the following returns the object *type* of x?

(a) type(x)\
(b) x.type()\
(c) object(x)\
(d) x.obj()

In [ ]:
# Test your answer here
x = ...

#### 15. Will this code run without errors?

In [ ]:
x = 12
y = "20"

print(x+y, "equals", 22)

#### 16. Will this code run without errors?

In [ ]:
x = "12"
y = "20"

print(x+y, "equals", 22)

#### 17. Will this code run without errors?

In [ ]:
x = 12
y = 20

print(x+y, "equals", 22)

#### 18. What will this print?

In [ ]:
name = "Jade"

print(name[0])

#### 19. What will this print?

In [ ]:
print("My" + "name" + "is" + "Jade")

#### 20. What will this print?

In [ ]:
print("My", "name", "is", "Jade")

#### 21. What will this print?

In [ ]:
first_name = "Dwight"
last_name = "Schrute"

name = first_name + last_name

print(name)

#### 22. What will this print?

In [ ]:
first_name = "Dwight"
last_name = "Schrute"

name = first_name + " " + last_name

print(name)

#### 23. What is the value of x?

In [ ]:
x = 10
y = x/2
x = y-3
y = y+3
x = x+y

#### 24. The following cells are bugged. Debug them so that they run without errors

In [ ]:
print("I am" 21 "years old")

In [ ]:
print(hello world)

In [ ]:
print("10"+10)

In [ ]:
name = "Jade

print(name)

In [ ]:
x = 20
y = x/2
x = y-10

print(y/x)

#### 25. What does this print?

In [ ]:
game = "Minecraft"

print(
    "My",
    "favourite",
    "game",
    "is",
    game
)