# Week 1: Basics

#### Exercise 1: Write a code that prints out Hello World

In [3]:
#
# Your code goes here
#

name = "Jade"

print("my name is", name)

my name is Jade

#### Exercise 2: Write a code that the sum of two numbers *a* and *b*

In [2]:
#
# Your code goes here
#

#### Exercise 3: Write a code that outputs your name and age

In [3]:
#
# Your code goes here
#

## Extra Exercises

#### Extra Exercise 1: Write code that prints out a fictional name, address, age, and occupation of a character of your choice (use variables!)

In [4]:
#
# Your code goes here
#

#### Extra Exercise 2: Write three variables that represent the salary of three different workers, and print out the average salary

In [5]:
#
# Your code goes here
#