In [26]:
# Import list...

import numpy as np
import pandas as pd

# Extra Exercises: Functions

#### 1. is_a_vowel

Initialize a "vowels" string object containing all the vowels of the alphabet. Then, write a function that checks whether the input is a vowel. Your function should return "True" if the input is a vowel, and "False" otherwise.

In [6]:
vowels = "aeiouy"

def is_a_vowel(c):
    """
    Function that checks whether a character c is a vowel
    c: string (1 character)
    """
    
    if c.lower() in vowels:
        return True
    
    return False
    
is_a_vowel("O")

True

#### 2. count_vowels

Write a function that takes a string as input and returns the number of vowels it contains.

In [10]:
def count_vowels(s):
    """
    Function to count how many vowels are in s
    s: string
    """
    
    counter = 0
    for i in s:
        if is_a_vowel(i) == True:
            counter += 1
    return counter
            

count_vowels("Hello World")

2

#### 3. count_occurences

Write a function that takes as input a string $s$ and a character $c$. The function should return how many times $c$ appears in $s$.

In [20]:
def count_occurences(s, c):
    """
    Function to count the occurences of a character c in a string s, where
    s: string
    c: string (1 character)
    """
    
    counter = 0
    for i in s:
        if i.lower() == c.lower():
            counter += 1
    return counter
    
count_occurences("The sun is shining bright this morning", "T")

3

#### 4. print_multiples

Write a function that takes as input integers $n$ and $m$ and prints out $m$ multiples of $n$, starting from $n$. For example, print_multiples(n=5, m=4) should print the following:

5\
10\
15\
20

In [36]:
def print_multiples(n, m, verbose=False):
    """
    Function that calculates and prints m multiples of n, starting at n
    n: integer
    m: integer
    verbose: print extra information? (Boolean, default=False)
    """
    
    my_list = []
    for i in range(m):
        
        if verbose:
            print(n*(i+1))
        
        my_list.append(n*(i+1))
        
    return my_list
    
print_multiples(n=5, m=4)

[5, 10, 15, 20]

#### 5. print_mult_table

Write a function that takes as input $rows$ and $columns$ and prints out a multiplication table with the required number of rows and columns. For example, print_mult_table(rows=3, columns=3) should print:

1  2  3

2  4  6

3  6  9

(Hint: use the function you wrote in exercise 4)

In [45]:
def print_mult_table(rows, columns):
    """
    Function that prints a rowsXcolumns multiplication table, where
    rows: integer
    columns: integer
    """
    
    df = pd.DataFrame(columns=range(1, columns),
                     index=range(1, rows+1))
    
    for c in range(columns):
        
        df[c+1] = print_multiples(c+1, rows)
        
    return df
        
    
print_mult_table(100, 100)

,1,2,3,4,5,6,7,8,9,10,...,91,92,93,94,95,96,97,98,99,100
1,1,2,3,4,5,6,7,8,9,10,...,91,92,93,94,95,96,97,98,99,100
2,2,4,6,8,10,12,14,16,18,20,...,182,184,186,188,190,192,194,196,198,200
3,3,6,9,12,15,18,21,24,27,30,...,273,276,279,282,285,288,291,294,297,300
4,4,8,12,16,20,24,28,32,36,40,...,364,368,372,376,380,384,388,392,396,400
5,5,10,15,20,25,30,35,40,45,50,...,455,460,465,470,475,480,485,490,495,500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,96,192,288,384,480,576,672,768,864,960,...,8736,8832,8928,9024,9120,9216,9312,9408,9504,9600
97,97,194,291,388,485,582,679,776,873,970,...,8827,8924,9021,9118,9215,9312,9409,9506,9603,9700
98,98,196,294,392,490,588,686,784,882,980,...,8918,9016,9114,9212,9310,9408,9506,9604,9702,9800
99,99,198,297,396,495,594,693,792,891,990,...,9009,9108,9207,9306,9405,9504,9603,9702,9801,9900
100,100,200,300,400,500,600,700,800,900,1000,...,9100,9200,9300,9400,9500,9600,9700,9800,9900,10000

In [46]:
my_table.to_excel("My Multiplication Table.xlsx")

#### 6. increase_by_index

Write a function that takes as input a list of integers and increases the value of each element in the list by its index. For example, increase_by_index([1, 2, 3, 4, 5]) should return:

[1, 3, 5, 7, 9]

In [ ]:
#
# Your code goes here
#

#### 7. get_smallest

Write a function that takes as input a list of integers and returns the smallest one. For example, get_smallest([5, 0, -3, 1, 9]) should return:

-3

In [ ]:
#
# Your code goes here
#

#### 8. get_random_list

Write a function that takes as input an integer $n$ and returns a list (or an array) containing $n$ random numbers between 0 and 1. For example, get_random_list(5) might return:

[0.345345, 0.124044, 0.343985, 0.998534, 0.2353458]

(Hint: Use the function $\texttt{numpy.random.random()}$)

In [ ]:
#
# Your code goes here
#

#### 9. swap_elements

Write a function that takes as input a list and two integers $i$ and $j$. The function should swap the elements at the $i$th and $j$th index. For example, swap_elements([5, 6, 7, 8], 0, 2) should return:

[7, 6, 5, 8]

In [ ]:
#
# Your code goes here
#

#### 10. shift_left

Write a function that takes as input a list and shifts each element one to the left. For example, shift_left([1, 2, 3, 4]) should return:

[2, 3, 4, 1]

In [ ]:
#
# Your code goes here
#

#### 11. print_2d_list

Write a function that takes as input a list of lists and prints out each sub-element, one at a time. For example, print_2d_list([[1,2],[3,4]]) should print:

1\
2\
3\
4

In [ ]:
#
# Your code goes here
#

#### 12. What does this function do?

In [ ]:
def mystery_function(x):
    s = x/2
    t = s+2
    u = s*10
    return u

mystery_function(10)

#### 13. What does this function do?

In [ ]:
def mystery_function2(x, n):
    s = x**n / n
    return s

mystery_function2(4, 5)

#### 14. What does this function do?

In [ ]:
def mystery_function3(l, n):
    s = []
    for i in l:
        s.append(i*n)
    return s

mystery_function3([1, 2, 3, 4, 5], 5)

#### 15. What does this function do?

In [ ]:
def mystery_function4(s):
    n = ""
    for i in range(1, len(s)+1):
        n += s[-i]
    return n

mystery_function4("Hello World")

#### 16. What does this function do?

In [ ]:
def mystery_function5(l):
    s = ""
    for i in l:
        s += i
        s += " "
    return s

mystery_function5(["Hello", "World", "here", "I", "am"])

#### 17. What does this function do?

In [ ]:
def mystery_function6(s, delim):
    return s.split(delim)

print(mystery_function6("My favourite meal is sushi", delim=" "))
print(mystery_function6("I live at 123, Fake Street, FP, Fake Country, H7D H8L", delim=","))

#### 18. What does this function do?

In [ ]:
def mystery_function7(l):
    n = []
    for i in l:
        for j in i:
            n.append(j)
    return n

mystery_function7([[1,2,3],[4,5],[6,7,8]])