In [ ]:
# Import list...
import pandas as pd
import numpy as np

# Week 6: pandas and file import/export

## Exercise 1: Songs

### (a)

Initialize a DataFrame object containing information about songs. Your DataFrame should include the following columns:

- Band name
- Song name

You don't need to specify row names. When you don't specify row names, pandas automatically indexes using integers starting from zero.

In [ ]:
songs = [...]

song_df = pd.DataFrame(
    data = ...,
    columns = ...,
)

### (b)

Now, let's add a column indicating how we rate each song on a scale of 1 to 10

In [ ]:
#
# Your code goes here
#

### (c)

Next, let's add a few more songs (i.e. add a few more rows)

In [ ]:
#
# Your code goes here
#

### (d)

Finally, we want to index this DataFrame by song name (instead of by the default integers starting at 0)

In [ ]:
#
# Your code goes here
#

## Exercise 2: Colours

### (a)

Initialize a DataFrame with rows and colours corresponding to a few of your favourite colours. At the intersection between a row and a column, write the colour corresponding to the mix between these two colours. For example, we might have something like this:

|| Red | Blue | Yellow |
| :-: | :-: | :-: | :-: |
| Red | Red | Purple | Orange |
| Blue | Purple | Blue | Green |
| Yellow | Orange | Green | Yellow |

In [ ]:
colours = ...

colour_df = pd.DataFrame(
    data = ...
    columns = ...
    index = ...
)

### (b)

Add an extra colour to your DataFrame (i.e. add an extra row and column). Notice that since your table is perfectly *diagonal*, rows and columns for the same colour should be *identical*.

In [ ]:
#
# Your code goes here
#

## Exercise 3: Budgeting

### (a)

Initialize a DataFrame containing a single column detailing your monthly expenses in the following categories:

- Rent
- Utilities
- Groceries
- Other necessities
- Entertainment

Your DataFrame should be indexed using those categories.

In [ ]:
#
# Your code goes here
#

### (b)

Add an extra row containing your *total* monthly expenses. This row should simply be called "Total".

Hint: The $\texttt{numpy.sum(array)}$ function is used to calculate the sum of an array.

In [ ]:
#
# Your code goes here
#

### (c)

Add an extra column that shows the percentage of your total expenses attributed to each category (i.e. %groceries, %rent, etc.)

In [ ]:
#
# Your code goes here
#

## Exercise 4: Library

I've uploaded a collection of books and written works called "books.xlsx". This workbook contains the following information for a great number of written works:

- Title
- Author
- Genre
- Original Language
- Publication Year

Let's go ahead and import it using $\texttt{pandas.read_excel(filename)}$ and view the contents via a $\texttt{print}$ statement

In [ ]:
#
# Your code goes here
#

### (a)

As you can see, there are a lot of books on there! In order to facilitate the consumption of this data, we will write the following functions:

- Function to return all books written by the same author
- Function to return all books of the same genre
- Function to return all books in the same language
- Function to return all books written before/after a given year

In [ ]:
#
# Your code goes here
#

### (b)

Using the functions you wrote above, write a function that calculates the percentage of books written by a specific author, or in a specific genre, or in a specific language, or before/after a specific year.

Don't be afraid to get creative with your function variables! Hint: use default variables!

In [ ]:
#
# Your code goes here
#

## Exercise 5: MSF Distribution

I've uploaded a file called "Performance Allocation 2021-01.xlsx" containing the HedgeServ performance allocation breakdown by series for the MSF fund in January 2021. Let's open it up using $\texttt{pandas.read_excel(filename)}$ and look at it using a $\texttt{print}$ statement.

In [ ]:
#
# Your code goes here
#

### (a)

The first thing we want to do is obtain the HedgeServ *Unique ID* for each series, and index our dataframe using this ID. This is done by combining the "Investor ID", "CCY", "Class*", and "SR/PI Name*" columns (in this order).

In [ ]:
#
# Your code goes here
#

### (b)

Next, we'll add an extra column containing the Net Asset Value by combining the "End Gross Capital(Base)*" and "Incentive Crystallized T" columns.

In [ ]:
#
# Your code goes here
#

### (c)

We'll add a column containing the Investor Specific Expenses/Perf allocation via the following calculation:

- Obtain the management fees at the "Management Fees (Base)"
- Add provincial and federal taxes
- Add the crystallized perf allocations at the "Incentive Crystallized T" column

In [ ]:
#
# Your code goes here
#

### (d)

Finally, we'll add a Percent Allocation column by dividing the Net Asset Value column (calculated in (b)) by the total NAV

Hint: Use the $\texttt{numpy.sum(array)}$ function

In [ ]:
#
# Your code goes here
#

### (e)

We're done our calculations for now, so let's publish them in an Excel file titled "Reviewed Perf Allocations.xlsx"

In [ ]:
#
# Your code goes here
#

## Exercise 6: MSF Validation

### (a)

I've also uploaded a file called "Performance Allocation 2021-02.xlsx" containing the MSF perf allocation breakdown by series for February 2021. Let's open it and index it by Unique ID as we did for the January file.

In [ ]:
#
# Your code goes here
#

### (b)

An important validation step is ensuring that each "previous month" column in the February file matches with the corresponding "current month" column in the January file. Let's validate the following columns by subtracting them from one-another:

January columns:
- End Net Capital(Base)*
- Ending Shares (if Ltd Fund)*
- Incentive Accrual (Base)

Corresponding February columns:
- Prior Net Capital(Base)*
- Prior Shares (if Ltd Fund)*
- Incentive Cfwd (Base)*

Hint: For each pair of columns, initialize a *new* DataFrame containing the Jan column, the Feb column, and the difference between the two.

In [ ]:
#
# Your code goes here
#

### (c)

Once again, we want to publish our results. But we now have *three* dataframes, which, if we use the df.to_excel(filename) method, would result in *three* separate Excel files. Not optimal.

Let's combine these three DataFrames using the $\texttt{pandas.concat([df1, df2])}$ method. By default, this concatenates dataframes df1 and df2 along the *rows*, which means they will appear one on top of the other. To have them appear side-by-side, we must specify the axis using the following syntax:

$\texttt{pandas.concat([df1, df2], axis=1)}$

In [ ]:
#
# Your code goes here
#